* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
}

:root {
	--color-primary: #191d2b;
	--color-secondary: #FFFFFF;

	--bg-primary: #0077b6;
	--bg-secondary: #FFFFFF;

	--color-gray-1: #6c7983;
	--color-gray-2: #454e56;
	--br-sm-2: 14px;
	--box-shadow-1: 0 3px 15px rgba(0, 0, 0, .2);
}

.light-mode {
	--color-primary: #f5f7ff;
	--color-secondary: #191d2b;
	--bg-primary: #191d2b;
	--bg-secondary: #FFFFFF;
	--br-sm-2: 14px;
	--box-shadow-1: 0 3px 15px rgba(0, 0, 0, .2);
}

body {
	background-color: var(--color-primary);
	font-size: 1.1rem;
	color: var(--color-secondary);
	transition: all .4s ease-in-out;
}

a {
	display: inline-block;
	text-decoration: none;
	color: inherit;
}

header {
	height: 100vh;
	color: var(--color-secondary);
}

input,
textarea {
	background-color: transparent !important;
	color: var(--color-secondary) !important;
}

.form-control:focus {
	border-color: transparent;
}

input::placeholder,
textarea::placeholder {
	color: var(--color-secondary) !important;
}

.btn-primary {
	background-color: var(--color-primary);
	border-color: var(--color-secondary);
	color: var(--color-secondary);
}

.btn.disabled {
	background-color: var(--color-gray-2);
}

.btn-primary:hover {
	background-color: var(--bg-primary) !important;
	color: var(--bg-secondary);
	border-color: var(--bg-primary);
}

.card {
	background-color: var(--color-primary);
	color: var(--color-secondary);
	font-size: 1.2rem;
	box-shadow: 0 3px 15px rgba(0, 0, 0, .2);
	transition: all .2s ease-in-out;
}

.card span i {
	color: var(--bg-primary);
}

.card:hover {
	transform: translateX(-15px);
}

/**------------------------------------------------------- Section --------------------------------*/

section {
	min-height: 100vh;
	padding: 3rem 18rem;
}

.section {
	display: none;
}

.section.active {
	display: block;
	transform: translateY(0) scale(1);
	animation: scaleAnim 1s ease-in-out;
}

/**------------------------------------------------------- End Section --------------------------------*/

section.header {
	height: 100vh;
	overflow: hidden;
	padding: 0;
}

.header-content {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	height: 100%;
}

.header-content .header-left {
	display: flex;
	align-items: center;
	position: relative;
}

.header-content .header-left>.h-shape {
	transition: all .4s ease-in-out;
	width: 65%;
	height: 100%;
	background-color: var(--bg-primary);
	position: absolute;
	left: 0;
	top: 0;
	z-index: -1;
	clip-path: polygon(0 0, .2% 0, 100% 100%, 0% 100%);
	;
}

@media screen and (max-width:600px) {
	.header-content {

	}

	.header-left {
		display: none !important;
	}

	.header-right::before {
		display: none !important;
	}

	.header-right::after {
		display: none !important;
	}
	.header-right{
		margin: 0 !important;
		border: 1px solid #ccc;
		padding: 0 !important;
	}

	.header-right p {
		padding: 0 !important;
	}
}

@media screen and (max-width:992px) {
	.header-content {
		grid-template-columns: 1fr;
		padding-bottom: 6rem;
		overflow-y: auto;
	}

	.header-left {
		margin-left: 8rem;
	}

	.header-left>.h-shape {
		display: none;
	}

	.header-content .header-left .image {
		width: 90%;
		margin: 0 auto;
		height: 100% !important;
	}

	.header-right {
		grid-row: 1;
		width: 90%;
		margin: 0 auto;
		padding: 4rem 3rem !important;
	}

	.header-right::before {
		left: -1rem;
		top: 1rem !important;
	}

	.header-right::after {
		left: 83% !important;
		top: 75%;
	}
}

.header-content .header-left>.image {
	border-radius: var(--br-sm-2);
	height: 90%;
	width: 70%;
	margin-left: 1.5rem;
	background-color: var(--color-primary);
	transition: all .4s ease-in-out;
	padding: 1rem;
	box-shadow: var(--box-shadow-1);
}

.header-content .header-left .image>img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	filter: grayscale(100%);
	transition: all .4s ease-in-out;
}

.header-content .header-left image img:hover {
	filter: grayscale(0);
}

.header-content .header-right {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 2rem;
	position: relative;
}

.header-right::after {
	content: '';
	position: absolute;
	height: 5rem;
	width: 5rem;
	border-bottom: 1rem solid var(--bg-primary);
	border-right: 1rem solid var(--bg-secondary);
	left: 80%;
	bottom: 8rem;
}

.header-right::before {
	content: '';
	position: absolute;
	height: 5rem;
	width: 5rem;
	border-top: 1rem solid var(--bg-primary);
	border-left: 1rem solid var(--bg-secondary);
	right: 95%;
	top: 6rem;
}

.header-content .header-right .name {
	font-size: 3rem;
}

.header-content .header-right>.name>span {
	color: var(--bg-primary);
	text-transform: uppercase;
}

.motion {
	transition: all .5 ease-in;
}

.motion .text {
	position: relative;
	color: var(--color-gray-2);
	margin-right: 0.5rem;
	font-weight: 600;
	font-size: 30px;
	text-transform: uppercase;
}

.text-anim::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: var(--color-primary);
	border-left: 0.1rem solid var(--color-secondary);
	animation: text-anim 4s steps(12) infinite;
}


.header-content .header-right p {
	margin: 1.5rem 0;
	line-height: 2rem;
	padding-right: 5rem;
}

.header-content .header-right .info span>i {
	color: var(--bg-primary);
}

.header-content .header-right .main-btn {
	border-radius: 30px;
	font-weight: 600;
	color: inherit;
	border: 1px solid var(--color-secondary);
	align-self: flex-start;
	display: flex;
	align-items: center;
	overflow: hidden;
	position: relative;
}

.header-content .header-right .main-btn>.btn-text {
	padding: 0 2rem;
}

.header-content .header-right .main-btn>.btn-icon {
	background-color: var(--bg-primary);
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	padding: .8rem;
}

.header-content>.header-right .main-btn::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	transition: all .7s ease-in-out;
	z-index: -1;
	transform: translateX(100%);
}

.header-content .header-right>.main-btn:hover::before {
	background-color: var(--bg-primary);
	color: var(--bg-secondary);
	width: 100%;
	height: 100%;
	transform: translateX(0);
}

.section-contact h1 {
	color: var(--bg-primary);
}


/**------------------------------------------------------- Controls --------------------------------*/
.controls {
	position: fixed;
	z-index: 10;
	top: 50%;
	right: 3%;
	display: flex;
	flex-direction: column;
	align-items: center;
	transform: translateY(-50%);
}

.controls .control.active {
	transition: all .5s ease-in-out;
	background-color: var(--bg-primary);
	color: var(--bg-secondary);
	animation: scaleAnim 1s ease-in-out;
}

.controls .control {
	background-color: var(--bg-secondary);
	color: var(--color-gray-1);
	cursor: pointer;
	border-radius: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 2rem;
	width: 2rem;
	margin: .7rem;
	box-shadow: var(--box-shadow-1);
}

.controls .control i {
	font-size: 1.2rem;
	pointer-events: none;
}

.controls .btn-plus {
	border-radius: 50%;
	width: 2rem;
	height: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

#button-social {
	background-color: var(--bg-secondary);
	color: var(--color-gray-1);
	border: none;
	border-radius: 5px;
	cursor: pointer;
	border-radius: 50%;
	height: 2rem;
	width: 2rem;
}

#circleMenu {
	position: absolute;
	transform: translateY(-100%) scale(0) rotate(180deg);
	opacity: 0;
	right: 30px;
	bottom: 0px;
	list-style: none;
	padding: 0;
	margin: 0;
	background-color: transparent;
	width: 120px;
	height: 120px;
	border-radius: 50%;
	transition: all 1s ease-in-out;
}

#circleMenu.show {
	transform: translateY(0) scale(1) rotate(0deg);
	opacity: 1;
}

.circleMenuItem {
	position: relative;
	display: inline-block;
	width: 30px;
	height: 30px;
	background-color: var(--color-secondary);
	color: var(--color-gray-1);
	border-radius: 50%;
	line-height: 50px;
	text-align: center;
	margin: 10px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
}

#test1 {
	left: 34px;
	bottom: 5px;
}

#test2 {
	left: 75px;
}

#test3 {
	left: 36px;
	top: 35px;
}

#test4 {
	right: 0px;
	bottom: 43px;
}


/**------------------------------------------------------- End Controls --------------------------------*/

/**------------------------------------------------------- Theme Button--------------------------------*/
.theme-btn {
	position: fixed;
	top: 5%;
	right: 4%;
	width: 2rem;
	height: 2rem;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	background-color: var(--bg-primary);
	transition: all .1s ease-in-out;
	color: var(--bg-secondary);
}

.theme-btn:hover {
	transform: translateY(-3px);
}

/**------------------------------------------------------- End Theme button --------------------------------*/

/**------------------------------------------------------- Animation --------------------------------*/
@keyframes scaleAnim {
	0% {
		opacity: 0;
		transform: translateY(-100%) scale(0);
	}

	100% {
		opacity: 1;
		transform: translateY(0) scale(1);
	}
}

@keyframes text-anim {

	40%,
	60% {
		left: calc(100% + 8px);
	}

	100% {
		left: 0%;
	}
}

/**------------------------------------------------------- End animation --------------------------------*/

/**------------------------------------------------------- Media query --------------------------------*/
@media screen and (max-width:992px) {
	.theme-btn {
		width: 50px;
		height: 50px;
	}

	.controls {
			top: auto;
		bottom: 0;
		flex-direction: row;
		justify-content: center;
		left: 50%;
		transform: translateX(-50%);
		width: 100%;
	}

	.controls .control {
		margin: 1rem .5rem;
	}

	main section {
		padding: 3rem;
	}

	.timeline {
		grid-template-columns: 1fr;
	}
}

/**------------------------------------------------------- End Media query --------------------------------*/